API_KEY_GROQ = 
MONGO_URI=mongodb+srv://usuario:contraaseña#contraaseñaL@cluster.btmxiry.mongodb.net/?
MONGO_DB_NAME=Base de datos
MONGO_COLLECTION_LECTURAS=Mediciones_Sensores
MONGO_COLLECTION_SENSORES_LECTURAS=lecturas_sensores
MONGO_COLLECTION_SENSORES_CATALOGO=sensores
# LLM_MODEL=openai/gpt-oss-20b
# TZ_OFFSET_HORAS=-6
